body {
  direction: rtl;
  font-family: IRANYekanWebFn;
}
:root {
  --primary-color: #39ff14;
  --Secondary-color: #30384d;
  --Secondary-Light-color: #454c5f;
  --Secondary-Dark-color: #272727;
  --Secondary-Darker-color: #101010;
  --icone-section2:#434A5A;
}
.circle-background {
  border-radius: 100%;
}
.rounded {
  border-radius: 10px;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  background-color: var(--Secondary-Dark-color);
}
.header__section {
  display: flex;
  gap: 10px;
  padding: 16px 0;
  justify-content: flex-end;
}

.header__section__login {
  width: 120px;
  height: 48px;
  background-color: var(--primary-color);
  font-size: 16px;
  font-weight: 500;
}
.header__section__sign-up {
  width: 120px;
  height: 48px;
  border: 1px solid var(--primary-color);
  background-color: var(--Secondary-Dark-color);
  color: white;
  font-size: 16px;
  font-weight: 500;
}
.introduction-section {
  background-color: #101010;
  height: 560px;
}
.introduction-section__introduction {
  padding: 140px 0px 60px 0px;
  position: relative;
}
.introduction-section__introduction__card {
  width: 40%;
  color: white;
  position: absolute;
  width: 509px;
  top: 80px;
  left: 801px;
  right: 0;
}
.introduction-section__introduction__card-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 67.64px;
}
.introduction-section__introduction__card-content {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  margin: 50px 0;
}
.introduction-section__introduction__card-button {
  display: flex;
  gap: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
.introduction-section__introduction__card-button-chosen {
  width: 309px;
  height: 48px;
  background-color: #434a5a;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
.introduction-section__introduction__card-button-send {
  width: 170px;
  height: 48px;
  background-color: var(--primary-color);
  color:black;
}
.introduction-section__introduction__img-container {
  position: absolute;
  left: 0;
  top: 120px;
}
.competition-section {
  background-color: var(--Secondary-Dark-color);
  height: 560px;
  position: relative;
}
.competition-section__card {
  background-color: var(--Secondary-color);
  width: 380px;
  height: 120px;
  position: absolute;
  top:0px;
  transform:translate(0 , -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color:white;
}
.competition-section__card-icon{
    background-color:var(--icone-section2);
    padding:8px;
}
.competition-section__card.card1{
    left:930px;
}
.competition-section__card.card2{
    left:530px;
    margin-bottom:80px;
}
.competition-section__card.card3{
    left:130px;
}
