body{
    direction: rtl;
}
:root {
    --primary-color: #39ff14;
    --Secondary-color: #30384d;
    --Secondary-Light-color: #454c5f;
    --Secondary-Dark-color: #272727;
    --Secondary-Darker-color: #101010;
  }
  .rounded {
    border-radius: 10px;
  }
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header{
    background-color:var(--Secondary-Dark-color);
}
.header__section {
  display: flex;
  gap: 10px;
  padding: 16px 0;
  justify-content: flex-end;
}

.header__section__login {
  width: 120px;
  height: 48px;
  background-color: var(--primary-color);
}
.header__section__sign-up {
  width: 120px;
  height: 48px;
  border: 1px solid var(--primary-color);
  background-color: var(--Secondary-Dark-color);
  color: white;
}
